section#abilities {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  padding-bottom: 100px;
  width: 100vw;
  h2 {
    font-size: 42px;
    span {
      color: var(--orange);
    }
  }
  ul {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    max-width: 1100px;
    padding: 25px;
    gap: 15px;
    z-index: 2;
    li {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border: 2px solid transparent;
      background: var(--ability-box-bg);
      border-radius: 20px;
      height: 140px;
      user-select: none;
      cursor: context-menu;
      transition: 0.5s ease;
      span {
        font-size: 20px;
        font-weight: 500;
      }
      &:hover {
        background: var(--ability-box-hover);
        border: 2px solid var(--orange);
        box-shadow: 0px 0px 8px 0px var(--orange);
        &.html {
          svg {
            path {
              color: var(--color-html-hover);
            }
          }
        }
        &.css {
          svg {
            path {
              color: var(--color-css-hover);
            }
          }
        }
        &.js {
          svg {
            path {
              color: var(--color-js-hover);
            }
          }
        }
        &.nodejs {
          svg {
            path {
              color: var(--color-nodejs-hover);
            }
          }
        }
        &.react {
          svg {
            path {
              color: var(--color-react-hover);
            }
          }
        }
        &.git {
          svg {
            path {
              color: var(--color-git-hover);
            }
          }
        }
        &.css {
          svg {
            path {
              color: var(--color-css-hover);
            }
          }
        }
      }
      &.html {
        svg {
          path {
            color: var(--color-html);
          }
        }
      }
      &.css {
        svg {
          path {
            color: var(--color-css);
          }
        }
      }
      &.js {
        svg {
          path {
            color: var(--color-js);
          }
        }
      }
      &.nodejs {
        svg {
          path {
            color: var(--color-nodejs);
          }
        }
      }
      &.react {
        svg {
          path {
            color: var(--color-react);
          }
        }
      }
      &.git {
        svg {
          path {
            color: var(--color-git);
          }
        }
      }
      &.css {
        svg {
          path {
            color: var(--color-css);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  h2 {
    text-align: center;
  }
  section#abilities {
    ul {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
@media screen and (max-width: 550px) {
  section#abilities {
    ul {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
